<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zpaas.lowcode.domain.mapper.FuncCustomizedLayoutRegionMapper">
  <resultMap id="BaseResultMap" type="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegion">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="func_id" jdbcType="VARCHAR" property="funcId" />
    <result column="page_id" jdbcType="VARCHAR" property="pageId" />
    <result column="layout_id" jdbcType="VARCHAR" property="layoutId" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="system_id" jdbcType="VARCHAR" property="systemId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, func_id, page_id, layout_id, region_id, tenant_id, system_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from fe_func_customized_layout_region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fe_func_customized_layout_region
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fe_func_customized_layout_region
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegionExample">
    delete from fe_func_customized_layout_region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegion">
    insert into fe_func_customized_layout_region (id, func_id, page_id, 
      layout_id, region_id, tenant_id, 
      system_id, create_time, update_time
      )
    values (#{id,jdbcType=VARCHAR}, #{funcId,jdbcType=VARCHAR}, #{pageId,jdbcType=VARCHAR}, 
      #{layoutId,jdbcType=VARCHAR}, #{regionId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, 
      #{systemId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegion">
    insert into fe_func_customized_layout_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="funcId != null">
        func_id,
      </if>
      <if test="pageId != null">
        page_id,
      </if>
      <if test="layoutId != null">
        layout_id,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="systemId != null">
        system_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="funcId != null">
        #{funcId,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=VARCHAR},
      </if>
      <if test="layoutId != null">
        #{layoutId,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegionExample" resultType="java.lang.Long">
    select count(*) from fe_func_customized_layout_region
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fe_func_customized_layout_region
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.funcId != null">
        func_id = #{record.funcId,jdbcType=VARCHAR},
      </if>
      <if test="record.pageId != null">
        page_id = #{record.pageId,jdbcType=VARCHAR},
      </if>
      <if test="record.layoutId != null">
        layout_id = #{record.layoutId,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        region_id = #{record.regionId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.systemId != null">
        system_id = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fe_func_customized_layout_region
    set id = #{record.id,jdbcType=VARCHAR},
      func_id = #{record.funcId,jdbcType=VARCHAR},
      page_id = #{record.pageId,jdbcType=VARCHAR},
      layout_id = #{record.layoutId,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=VARCHAR},
      tenant_id = #{record.tenantId,jdbcType=VARCHAR},
      system_id = #{record.systemId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegion">
    update fe_func_customized_layout_region
    <set>
      <if test="funcId != null">
        func_id = #{funcId,jdbcType=VARCHAR},
      </if>
      <if test="pageId != null">
        page_id = #{pageId,jdbcType=VARCHAR},
      </if>
      <if test="layoutId != null">
        layout_id = #{layoutId,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="systemId != null">
        system_id = #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.zpaas.lowcode.domain.eo.FuncCustomizedLayoutRegion">
    update fe_func_customized_layout_region
    set func_id = #{funcId,jdbcType=VARCHAR},
      page_id = #{pageId,jdbcType=VARCHAR},
      layout_id = #{layoutId,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=VARCHAR},
      tenant_id = #{tenantId,jdbcType=VARCHAR},
      system_id = #{systemId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>